<header class="header">
  <h1>Lights Out with Angular</h1>
</header>
<div class="description">
  <p>LightsOut is based on a deceptively simple concept. Clicking on a cell toggles that cell and each of its immediate
    neighbors. The goal is to turn out all the lights, ideally with the minimum number of clicks. There is a fairly easy
    method for solving the puzzles, but it will very rarely result in the minimum number of moves.</p>
</div>
<div class="cont-game">
  <div class="config">
    <app-config-form (nameConfig)="catchName($event)" (levelConfig)="catchLevel($event)" (typeConfig)="catchType($event)" (dataOut)="startGame()"/>
  </div>
  @if (start) {
    <div class="game">
      <div class="record">
        <p>Record: <span>{{ this.record }}</span></p>
      </div>
      <div class="board">
        @if (level == 3 && mod == 'C') {
        <app-board [boardLength]="level" [type]="mod" [userName]="userName" (scores)="catchScore($event)"
          (finish)="stateBoard($event)" />
        }
        @if (level == 3 && mod == 'V') {
        <app-board [boardLength]="level" [type]="mod" [userName]="userName" (scores)="catchScore($event)"
          (finish)="stateBoard($event)" />
        }
        @if (level == 4 && mod == 'C') {
        <app-board [boardLength]="level" [type]="mod" [userName]="userName" (scores)="catchScore($event)"
          (finish)="stateBoard($event)" />
        }
        @if (level == 4 && mod == 'V') {
        <app-board [boardLength]="level" [type]="mod" [userName]="userName" (scores)="catchScore($event)"
          (finish)="stateBoard($event)" />
        }
        @if (level == 5 && mod == 'C') {
        <app-board [boardLength]="level" [type]="mod" [userName]="userName" (scores)="catchScore($event)"
          (finish)="stateBoard($event)" />
        }
        @if (level == 5 && mod == 'V') {
        <app-board [boardLength]="level" [type]="mod" [userName]="userName" (scores)="catchScore($event)"
          (finish)="stateBoard($event)" />
        }
      </div>
    </div>
  }
</div>