<form class="form">
  <div class="form__cont-input">
    <label for="name">User name:</label>
    <input type="text" required id="name">
  </div>
  <div class="form__cont-input">
    <label for="dificult">Dificult:</label>
    <select id="dificult">
      <option value="1">(3 x 3) Easy</option>
      <option value="2">(4 x 4) Normal</option>
      <option value="3">(5 x 5) Hard</option>
      <option value="4">(6 x 6) Expert</option>
    </select>
  </div>
  <div class="form__cont-input">
    <label for="classic">Type of game:</label>
    <div class="options">
      <div class="option">
        <input value="A" checked type="radio" id="classic" name="option">
        <label for="classic">Classic</label>
      </div>
      <div class="option">
        <input value="B" type="radio" id="variant" name="option">
        <label for="variant">Variant</label>
      </div>
    </div>
  </div>
  <div class="form__cont-input">
    <input type="submit" value="Start">
  </div>
</form>