/* You can add global styles to this file, and also import other style files */
:root {
  --light-active: #02e928;
  --light-semi-active: #358003;
  --light-out: #215002;
  --light-semi-out: #49aa08;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}